# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/320_389
/460_519
/520_579
/580_629
/710_739
/46520
/46520_P
/E8859
/Final_Charts
/ICD_460-519_Reports
/icd_files
/Patients
/Old Charts
/TestFiles
/TestReport